.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 90vw;
  margin: 0 auto;
}

.contador-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ejemplo {
  margin-left: 5rem;
}